@import url(https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap);

body {
  line-height: 1.4;
  color: #2c2f33;
  font-family: "JetBrains Mono", monospace;
}

:root {
  --accent: #8fbc8f;
  --messageDiv: #36393f;
  --messages: #313338;
  --compose: #40444b;
  --composeInput: #40444b;
  --userSidebar: #1d1f22;
  --sidebar: #202225;
  --roomTitle: #2c2f3a;
  --fontColor: #ffffff;
  --scrollbarTrack: #2e3338;
  --scrollbarThumb: #202225;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

img {
  border-radius: 4px;
}

input,
textarea {
  color: var(--fontColor);
  background: var(--composeInput);
  border: 1px solid var(--accent);
  border: 1px solid var(--accent);
  padding: 12px;
  outline: 0;
  transition: 0.3s ease;
}

.punishment-txt {
  color: #cdcdcd;
}

html {
  font-size: 16px;
}

label {
  font-size: 14px;
  display: block;
  margin-bottom: 8px;
  color: var(--fontColor);
}

::-webkit-scrollbar {
  min-width: 10px;
  max-width: 10px;
  min-height: 10px;
  max-height: 10px;
}

::-webkit-scrollbar-corner {
  background: var(--scrollbarTrack);
}

::-webkit-scrollbar-track {
  background: var(--scrollbarTrack);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbarThumb);
}

button {
  cursor: pointer;
  padding: 12px;
  background: var(--accent);
  border: 0;
  color: #fff;
  font-size: 16px;
  transition: 0.3s ease;
  border-radius: 4px;
}

button:hover {
  filter: brightness(85%);
}

button:disabled {
  filter: brightness(75%);
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider,
.slider:before {
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider {
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #17d337;
}

.slider:before {
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: #fff;
}

input:checked + .slider {
  background-color: #ad1313;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.settings-overlay,
.center {
  justify-content: center;
  align-items: center;
}

.center {
  background: -webkit-linear-gradient(bottom left, #2662b3, #66cb2f);
  width: 100vw;
  height: 100vh;
  display: flex;
}

.centered-div {
  color: #fff;
  background: var(--messageDiv);
  padding: 24px;
  width: 340px;
  border-radius: 4px;
}

.punishment-box {
  color: #fff;
  background: #36393f;
  padding: 24px;
  max-width: 388px;
  border-radius: 4px;
}

.join-btn {
  width: 100%;
}

.username-join-input {
  margin-bottom: 16px;
  width: 100%;
  border-radius: 4px;
}

.title,
.title-pronounce {
  font-size: 5em;
  color: var(--fontColor);
}

.title-pronounce {
  font-style: italic;
  font-weight: 400;
  font-size: 0.9em;
  display: inline-block;
  margin-bottom: 20px;
  filter: brightness(55%);
}

.chat {
  display: flex;
}

.users__sidebar {
  height: 100vh;
  overflow-y: auto;
}

.user__sidebar {
  background: var(--userSidebar);
  display: flex;
  flex-shrink: 0;
  padding: 24px;
  font-size: 0.742em;
}

.sidebar__main {
  color: var(--fontColor);
  background: var(--sidebar);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  min-width: 242px;
  max-width: 242px;
}

.dark-mode-div {
  padding-top: 3px;
}

.dark-mode-p {
  display: inline;
}

.settings__box {
  color: var(--fontColor);
  border-radius: 4px;
}

.username-input {
  padding: 12px;
  margin: 0-28px 0 0;
  flex-grow: 1;
  transition: 0.3s ease;
  width: 194px;
  border-radius: 4px;
  margin-top: 21px;
}

.set-username-btn {
  border-radius: 0 4px 4px 0;
  padding-top: 11px;
}

.set-cooldown-btn {
  width: 217px;
  border-radius: 0 4px 0 0;
  padding-top: 11px;
  text-align: left;
}

.admin-btn {
  width: 120px;
  border-radius: 0;
  padding-top: 11px;
  text-align: left;
}

.color-picker-p {
  padding-bottom: 11px;
}

.color-picker {
  border: 0;
  width: 32px;
  height: 15px;
  padding: 0;
  -webkit-appearance: none;
  background-color: var(--messageDiv);
}

.color-picker::-webkit-color-swatch-wrapper {
  padding: 0;
}

.color-picker::-webkit-color-swatch {
  border: 0;
}

.cooldown-int {
  padding: 12px;
  margin: 0 -20px 0 0;
  width: 54px;
  -moz-appearance: textfield;
}

.cooldown-btn {
  border-radius: 0;
  padding-top: 11px;
  margin-right: -10px;
  padding-left: 7px;
  padding-right: 7px;
}

.settings__box {
  background: var(--messageDiv);
  padding: 24px;
}

.settings-overlay {
  background-color: rgba(0, 0, 0, 0.301);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.admin-panel {
  padding: 4px;
  background-color: var(--messages);
  border-radius: 0 0 4px 4px;
  flex-direction: column;
}

.cooldown-int {
  border-radius: 4px 0 0 0;
}

.admin-input {
  border-radius: 0;
  margin: 0-14px 0 0;
  width: 192px;
}

.admin-section {
  margin-top: -1px;
}

.alert-msg-input {
  width: 100%;
  margin-bottom: 21px;
  height: 80px;
  resize: none;
  border-radius: 0;
}

.send-alert-btn {
  display: block;
  margin-top: -28px;
  width: 100%;
  border-radius: 0 0 5px 5px;
}

emoji-picker {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 80px;
  margin-right: 80px;
  display: none;
}

.disconnect__box {
  color: var(--fontColor);
  background: #b72a2a;
  padding: 24px;
  width: 420px;
  border-radius: 4px;
}

.disconnect-overlay {
  background-color: rgba(0, 0, 0, 0.301);
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.refresh-btn {
  margin-top: 14px;
  background: #7e1c1c;
}

.chat__main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 242px;
}

.chat-msgs {
  color: var(--fontColor);
  background: var(--messageDiv);
  padding-bottom: 17px;
  flex-grow: 1;
  overflow-y: auto;
}

.scroll-down-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 104px;
  margin-right: 24px;
  border-radius: 27px;
  visibility: hidden;
  z-index: 3;
  animation: bounce 1s infinite;
}

.message {
  background: var(--messages);
  border-radius: 4px;
  padding: 10px;
  margin: 17px 17px 0;
  width: fit-content;
}

.message__name {
  font-weight: 600;
  font-size: 18px;
  margin-right: 8px;
}

.msg-container {
  padding-top: 3px;
  margin-top: -151px;
}

.message__meta {
  color: var(--fontColor);
  font-size: 14px;
}

.message a,
a {
  color: var(--accent);
}

.message-options {
  position: relative;
  top: -48px;
  right: 22px;
  font-size: 18px;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
}

.msg-options-div {
  pointer-events: none;
  opacity: 0;
  width: 148px;
  position: relative;
  top: -45px;
  right: 22px;
  z-index: 3;
}

.msg-options-btn {
  width: 100%;
  border-radius: 0;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.mention-text {
  background-color: #5373ec;
  color: #fff;
  border-radius: 3px;
  margin-right: 3px;
  padding: 0 3px;
}

.mentioned-highliter {
  border: 17px;
  border-color: var(--messageDiv);
  border-left: 17px solid var(--accent);
  border-right: 17px solid var(--userSidebar);
  background: var(--userSidebar);
}

.is-typing-div {
  color: var(--fontColor);
  font-size: 16px;
  background: var(--compose);
  height: 24px;
  padding: 2px 24px 0px 24px;
}

.message-sender {
  background: var(--compose);
}

.compose {
  background: var(--compose);
  display: flex;
  flex-shrink: 0;
  padding: 0px 24px 24px 24px;
}

.compose form {
  display: flex;
  flex-grow: 1;
}

.chat-msg-input,
.room-input,
.message-input {
  width: 100%;
  border-radius: 0;
}

.send-msg-btn {
  font-size: 14px;
  border-radius: 0;
}

.img-btn {
  border-radius: 4px 0 0 4px;
}

.emoji-btn {
  border-radius: 0 4px 4px 0;
}

.room-title {
  font-weight: 400;
  font-size: 30px;
  background: var(--roomTitle);
  padding: 24px;
}

.list-title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 4px;
  padding: 12px 24px 0;
}

.users {
  list-style-type: none;
  font-weight: 300;
  padding: 12px 24px 0;
  word-break: break-all;
}

.uploaded-image {
  border-radius: 4px;
  max-width: 100%;
  height: auto;
}

.uploaded-image:hover {
  cursor: pointer;
  filter: brightness(70%);
  transition: 0.2s;
}

.msg-overlay,
.room-overlay {
  background-color: rgba(0, 0, 0, 0.301);
  height: 100%;
  align-items: center;
  z-index: 4;
  position: fixed;
  width: 100%;
  justify-content: center;
}

.tools-bar {
  transition: 0.5s ease;
  opacity: 0;
  z-index: 3;
  top: -50px;
  pointer-events: none;
  position: fixed;
}

.toolButton {
  border-radius: 179px;
  pointer-events: all;
  margin: 3px;
}

.toggleButton {
  border-radius: 0 0 30px 30px;
  margin-right: 6px;
  position: absolute;
  right: 0;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 3;
}

.message__box,
.room__box {
  color: var(--fontColor);
  background: var(--messageDiv);
  padding: 24px;
  border-radius: 4px;
}

.room-input,
.message-input {
  border-radius: 4px;
  width: 286px;
}

.room-input {
  margin: 0 7px 0 0;
}

.message-input {
  margin-bottom: 21px;
}

.message-input-area {
  height: 164px;
  width: 100%;
  resize: none;
  border-radius: 4px;
  margin-bottom: 15px;
}

.message-bar {
  position: fixed;
  color: var(--fontColor);
  background-color: var(--sidebar);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgb(0 0 0/22%);
  z-index: 5;
  max-width: 509px;
}

.from {
  padding: 9px 9px 3px;
  background-color: var(--accent);
  border-radius: 10px;
  display: flex;
}

.message-to {
  padding: 3px 9px 9px;
}

.dm-options-btn {
  margin-top: 8px;
  padding: 2px 5px 2px 5px;
}

.msg-replace,
.msg-container {
  word-break: break-word;
}

.tab-ui-btn {
  width: 100%;
}

.bot-indicator-msg {
  font-size: 12px;
  font-weight: 900;
  color: var(--accent);
}

.alert-overlay {
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 10;
  color: #fff;
  background-color: var(--accent);
  padding: 6px;
  font-size: 30px;
  top: -999px;
  word-break: break-all;
}

.close-alert-btn {
  font-size: 30px;
  border-style: solid;
  padding: 0 10px;
  border-radius: 13px;
}

.alert-overlay a {
  filter: invert(100%);
}

/* Tic Tac Toe */
.tictactoe-gameboard {
  display: inline-block;
}

.ttt-square {
  width: 75px;
  height: 75px;
  float: left;
  border-color: var(--fontColor);
  border-width: thin;
  text-align: center;
  vertical-align: middle;
  line-height: 75px;
  font-size: 70px;
}

.ttt-button {
  background: transparent;
  padding: 0px;
  font-size: 0px;
  width: 75px;
  height: 75px;
}

.ttt-button:hover {
  background: #00000041;
}

/* Connect 4 */
.connect4-gameboard {
  display: inline-block;
  background: hwb(231 12% 12%);
  padding: 3px;
  border-radius: 9px;
  font-size: 28px;
  margin: 7px 0px 8px 0px;
  border: black 2px solid;
}

.connect4-button {
  background: #1f3ce0;
  color: #ffffff;
  padding: 0px 3.5px 0px 3.5px;
  margin-left: -6.6px;
  font-size: 28px;
}

/* Dynamic CSS */
.show-sidebar-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: 105px;
  border-radius: 0px 50px 50px 0px;
  display: none;
  z-index: 3;
  transition: 0s ease;
}

@media only screen and (max-device-width: 512px) {
  .sidebar__main {
    display: none;
    position: absolute;
    box-shadow: -7px 0px 20px 0px #000000;
  }

  .show-sidebar-btn {
    display: block;
  }

  .room-input {
    width: 100%;
    margin: 0 7px 5px 0;
  }

  .set-room-btn {
    width: 100%;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0); /* Starting and ending position */
  }
  50% {
    transform: translateY(-5px); /* Peak of the bounce */
  }
}